<div class="search-container">
  <div class="search-header">
    This is a full text search. Type in ingredients.
  </div>

  <div class="search-form">
    <%= form_with(url: root_url, method: 'get') do |form| %>
      <div class="search-field">
        <div class="field-label">
          Ingredients:
        </div>
        <%= form.text_field :ingredients, class: "search-form-field", placeholder: "e.g. corn bread milk", value: params[:ingredients] %>
      </div>

      <div class="search-btn">
        <%= form.submit "Submit", class: "submit-btn" %>
      </div>
    <% end %>
  </div>
</div>

<div class="results-container">
  <div class="results-total">
    Recipes: <%= @total_recipes %>
  </div>

  <% if @errors.present? %>
    <%= @errors %>
  <% else %>
    <div class="results-recipes">
      <% @recipes.each do |recipe| %>
        <ul class="list-recipes">
          <li class="list-recipe">
            <b>Title:</b> <%= recipe[:title] %>
          </li>

          <li class="list-recipe">
            <b>Cook time:</b> <%= recipe[:cook_time] %>
          </li>

          <li class="list-recipe">
            <b>Prep time:</b> <%= recipe[:prep_time] %>
          </li>

          <li class="list-recipe">
            <b>Ingridients:</b> <%= recipe[:ingredients].join(", ") %>
          </li>

          <li class="list-recipe">
            <b>Ratings:</b> <%= recipe[:ratings] %>
          </li>

          <li class="list-recipe">
            <b>Cuisine:</b> <%= recipe[:cuisine] %>
          </li>

          <li class="list-recipe">
            <b>Category:</b> <%= recipe[:category] %>
          </li>

          <li class="list-recipe">
            <b>Author:</b> <%= recipe[:author] %>
          </li>

          <li class="list-recipe">
            <b>Image:</b> <%= recipe[:image] %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>

  <div>
    <%= paginate @recipes %>
  </div>
<% end %>
